.container {
  width: 500px;
  height: 120px;
  margin: 10px auto;
  border: 1px solid gray;
  position: relative;
  top: -300px;
  z-index: 10;
  background-color: white;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.batman {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid blue;
}
.batman input {
  padding: 10px;
  width: 250px;
  color: gray;
  border: none;
}
.two_but {
  margin: 20px;
}
.reset {
  border: none;
  background-color: white;
  font-size: 12px;
  position: relative;
  left: 340px;
  font-weight: bold;
}
.search {
  background-color: rgb(90, 149, 232);
  font-size: 12px;
  position: relative;
  left: 350px;
  padding: 4px 10px;
  color: white;
}

.rate_top {
  margin: 50px 5px;
}
.rate_top h3 {
  font-size: 18px;
  color: white;
}
.hinh_anh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 10px;
  position: relative;
  top: -100px;
}
.results {
  position: relative;
  top: -120px;
}
.hinh_anh img {
  width: 180px;
  height: 120px;
}

.hinh_anh img:hover {
  width: 220px;
  height: 140px;
}

.hinh_anh_origan {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.hinh_anh_origan img {
  width: 150px;
  height: 250px;
}
.hinh_anh_origan img:hover {
  width: 170px;
  height: 300px;
}
.daitail {
  display: flex;
  flex-direction: row;
  color: white;
}
.film {
  width: 800px;
}
.daitail {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 1200px;
  margin: 10px auto;
}
.tieude {
  width: 600px;
}
.tieude h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
